@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
    width: 2560px;
    max-width: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
    overflow-x: hidden;
    align-items: center;
    flex-wrap: nowrap;
}

.inputBox
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.inputBox input
{
    padding: 10px; 
}

.inputBox .lox
{
    top: 240px;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 5vh;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ .lox,
.inputBox input:focus ~ .lox
{
  width: auto;
  transform: translateY(-45px);
  font-size: 3vh;
  padding: 0 10px;
  align-items: center;
  background: black;
  letter-spacing: 0.2em;;
  animation: input 3s linear infinite;
}

#wrapper{
    width: 100%;
}

#list {
	padding:0;
	list-style-type: none;
  font-size: 4vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input{
  border-radius: 50px;
  background-color: black;
  outline: none;
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 8vh;
  animation: input 1s linear infinite;
}

 @keyframes input {
    0% { border: rgb(255, 251, 0) solid 1px;border-radius: 50px; }
    50% { border: rgb(115, 255, 0); border-radius: 50px; text-shadow: 0 0 5px rgb(212, 0, 255), 0 0 8px rgb(212, 0, 255); }
    100% { border: rgb(255, 251, 0); border-radius: 50px; }
}
#list .remove, #list .mark {
	cursor: pointer;
}

#list .done .task {
	text-decoration: line-through;
}

.zagolovok, #list .remove, #list .mark,#list,.inputBox .lox{
  animation: zagolovok 2s linear infinite;
}

.zagolovok {
  margin: 0;
  font-size: 13.2vh;
  text-align: center;
}

  @keyframes zagolovok {
    0% { color: rgb(255, 251, 0); }
    50% { color: rgb(115, 255, 0); text-shadow: 0 0 5px rgb(212, 0, 255), 0 0 8px rgb(212, 0, 255); }
    100% { color: rgb(255, 251, 0);  }
  }

button{
  background-color: black;
  font-size: 3vh;
  text-transform: uppercase;
  padding: 50px;
  border: none;
  outline: none;
}
